{% extends "clayout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

{% if session["user_id"] %}
<div class="jumbotron">
  <h1>Hello {{ username }}!</h1>
  <p>Welcome to the mental health port! On this website you can take psychological tests(from healthyplace), use your results and symptoms to try treatment by browsing through survivors stories who dealt with similar issues as you or request free counselling from volunteers. Register and login to get access to services.</p>
</div>

{% else %}
<div class="jumbotron">
    <h1>Hello!</h1>
    <p>Welcome to the mental health port! On this website you can take psychological tests(from healthyplace), use your results and symptoms to try treatment by browsing through survivors stories who dealt with similar issues as you or request free counselling from volunteers. Register and login to get access to services.</p>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
  </div>

  {% endif %}

{%endblock%}
