{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="red">Mental health</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            {% if session["user_id"] %}
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/tests">Psychological Tests</a></li>
                    <li class="nav-item"><a class="nav-link" href="/surviving">Surviving</a></li>
                    <li class="nav-item"><a class="nav-link" href="/counselling">Counselling</a></li>
                    <li class="nav-item"><a class="nav-link" href="/requests">Counselling requests</a></li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

{% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary mb-0 text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}

<main class="container-fluid py-5 text-center">
    <div class="jumbotron">
        <h1>Hello!</h1>
        <p>Welcome to the mental health port! On this website you can take psychological tests(from healthyplace), use your results and symptoms to try treatment by browsing through survivors stories who dealt with similar issues as you or request free counselling from volunteers. Register and login to get access to services.</p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
      </div>

</main>
{% endblock %}
