{% extends "layout.html" %}

{% block title %}
    counselling
{% endblock %}

{% block main %}
<form action="/counselling" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="phone number" name="cellphone number" placeholder="Cellphone number" type="tel">
    </div>
    <div>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="any" name="gender" value="any">
        <label for="any">Any gender</label>

      </div>

      <div>
        <input type="checkbox" id="test1" name="test1" value="alcoholism">
        <label for="test1">Alcoholism test</label>
        <br>
        <input type="checkbox" id="test2" name="test2" value="drugs">
        <label for="test2">Drug abuse test</label>
        <br>
        <input type="checkbox" id="test3" name="test3" value="depression">
        <label for="test3">Depression test</label>
        <br>
        <input type="checkbox" id="test4" name="test4" value="bipolar">
        <label for="test4">Bipolar Disoder test</label>
        <br>
        <input type="checkbox" id="test5" name="test5" value="ptsd">
        <label for="test5">PTSD test</label>
        <br>
        <input type="checkbox" id="test6" name="test6" value="adhd">
        <label for="test6">ADHD test</label>
        <br>
        <input type="checkbox" id="test7" name="test7" value="anxiety">
        <label for="test7">Anxiety test</label>
        <br>
        <input type="checkbox" id="test8" name="test8" value="personalityDisorder">
        <label for="test8">Personality Disoders test</label>
        <br>
        <input type="checkbox" id="test9" name="test9" value="ocd">
        <label for="test9">OCD test</label>
        <br>
        <input type="checkbox" id="test10" name="test10" value="sleepingDisorder">
        <label for="test10">Sleeping Disorders test</label>
      </div>

      <div>
        <input type="checkbox" id="test1" name="test1" value="alcoholism">
        <label for="test1">Grief and loss</label>
        <br>
        <input type="checkbox" id="test2" name="test2" value="drugs">
        <label for="test2">Self-Esteem / Body Image / Self confidance issues</label>
        <br>
        <input type="checkbox" id="test3" name="test3" value="depression">
        <label for="test3">Anger Management</label>
        <br>
        <input type="checkbox" id="test4" name="test4" value="bipolar">
        <label for="test4">Relationship conflicts</label>
        <br>
        <input type="checkbox" id="test5" name="test5" value="ptsd">
        <label for="test5">Suicidality</label>
        <br>
        <input type="checkbox" id="test6" name="test6" value="adhd">
        <label for="test6">Other</label>

      </div>


    <button class="btn btn-primary" type="submit">Request Counselling</button>
</form>
{%endblock%}