{% extends "layout.html" %}

{% block title %}
    counselling
{% endblock %}

{% block main %}
<form action="/counselling" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="phone number" name="cellphone number" placeholder="Cellphone number" type="tel">
    </div>
    <div>
        <input type="radio" id="female" name="gender" value="female" checked />
        <label for="female">Female</label>
      </div>

      <div>
        <input type="radio" id="male" name="gender" value="male" />
        <label for="male">Male</label>
      </div>

      <div>
        <input type="radio" id="any" name="gender" value="any" />
        <label for="any">Any gender</label>
      </div>

    <button class="btn btn-primary" type="submit">Request Counselling</button>
</form>
{%endblock%}