{% extends "layout.html" %}

{% block title %}
    Counselling
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h5>anyone with a background in psychology or some experience in mental health, and counselling can volunteer, including interns and students, possess or studying towards a qualification in social sciences eg. Social work, psychology, education, child and youth care work or equivalent</h5>
    <p><a class="btn btn-primary btn-lg" href="/form" role="button">Request counselling</a></p>
    <p><a class="btn btn-primary btn-lg" href="/volunteer" role="button">Volunteer as a counsellor</a></p><br>
    <p>Already a volunteered counsellor? Click here to view requests.<a class="btn btn-primary" href="/requests" role="button">View requests</a></p>
  </div>
{%endblock%}
