{% extends "layout.html" %}

{% block title %}
    Form
{% endblock %}

{% block main %}
<form action="/form" method="post">
  <div class="form-group">
    <label for="username">Your (name of website)username</label>
    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
</div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" id="email" name="email" placeholder="Enter email" type="email" required>
    </div>
    <div class="form-group">
      <label for="number">Cellphone number</label>
        <input class="form-control" id="number" name="phonenumber" placeholder="Cellphone number" type="tel">
    </div>
    <div class="form-group">
      <label for="age">What is your age?</label>
        <input class="form-control" id="age" name="age" placeholder="Age" type="number" min="13" max="65">
    </div>
    <div class="form-check">
      <h4>Preferred gender of counsellor</h4>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="any" name="gender" value="any">
        <label for="any">Any gender</label>

      </div>

      <div class="form-check">
        <h4>Which of the psychological tests did you receive positive results?</h4>
        {% for test in tests %}
            <input type="checkbox" name="concern" value="{{ test }}">{{ test }}
            <br>
        {% endfor %}
      </div>

      <div class="form-check">
        <h4>In addition to the psychological tests, what else led you to request counselling? (if there is any other reason)</h4>
        {% for concern in concerns %}
            <input type="checkbox" name="concern" value="{{ concern }}">{{ concern }}
            <br>
        {% endfor %}

      <div class="form-group">
        <label for="other">If other, state the specific issues</label>
        <textarea class="form-control" id="other" name="concern" rows="3"></textarea>
      </div>
    </div>

      <div class="form-check">
        <h4>Preferred counselling setting</h4>
          <input type="radio" id="individual" name="setting" value="individual">
          <label for="individual">Individual counselling</label><br>
          <input type="radio" id="group" name="setting" value="group">
          <label for="group">Group counselling</label><br>
          <input type="radio" id="any" name="setting" value="any">
          <label for="any">Any</label>

        </div>

    <button class="btn btn-primary" type="submit">Request Counselling</button>
</form>
{% endblock %}
