{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

{% if session["user_id"] %}
  {% for user in users %}
  <div class="jumbotron">
  <h1>Hello {{ user.username }}!</h1>
  <h5>Welcome to mental health friendly! On this website you can take psychological tests, browse or post stories addressing different psychological concerns. Free counselling is also provided by volunteering counsellors on this website.</h5>
  </div>
  {% endfor %}
{% else %}
<div class="jumbotron">
    <h1>Hello!</h1>
    <h5>Welcome to mental health friendly! On this website you can take psychological tests, browse or post stories addressing different psychological concerns. Free counselling is also provided by volunteering counsellors on this website. Register and login to get access to services.</h5>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
  </div>

  {% endif %}

{%endblock%}
