{% extends "counsellor.html" %}

{% block title %}
    requests
{% endblock %}


{% block main %}
<p>{{ username }}, thank you for your offering, below please view the live requests for councelling and click "accept request" to select clients you can provide counselling to, and please contact the client via the provided email address or phone number to establish communication and begin counselling</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Submitted</th>
            <th>Username</th>
            <th>Age</th>
            <th>Contact details</th>
            <th>Psychological concerns</th>
            <th>Preffered counselling setting</th>
            <th>Preffered counsellor's gender</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.timestamp }}</td>
            <td>{{ request.username }}</td>
            <td>{{ request.age }}</td>
            <td>{{ request.user_email }}; {{ request.user_number }}</td>
            <td>{{ request.psychological_concerns }}</td>
            <td>{{ request.setting }}</td>
            <td>{{ request.counsellor_gender }}</td>
            <td>
                <form action="/accept" method="post">
                <input type="hidden" name="rqst_username" value="{{request.username}}">
                <button class="btn btn-primary" id = "accept" type="submit">Accept request</button>
            </form>
        </td>
        </tr>
        {%endfor%}
    </tbody>

</table>
{ % endblock% }
