{% extends "layout.html" %}

{% block title %}
    Surviving
{% endblock %}

{% block main %}

{%for user in users%}
<p id = "request">Hi, {{ user.username }} your request is live, available counsellors will be in touch!</p>
<form action="/cancel" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
    <button class="btn btn-primary" id = "cancel" type="submit">Cancel request</button>
    <a class="btn btn-primary" href="/counselling" role="button">My requests</a>
</form>
{%endfor%}
{% endblock %}