{% extends "layout.html" %}

{% block title %}
    requested
{% endblock %}

{% block main %}

{%for user in users%}
<h5>Hi, {{ user.username }} your request is live, available counsellors will be in touch!</h5>
<form action="/cancel" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
    <button class="btn btn-primary" id = "cancel" type="submit">Cancel request</button>
    <a class="btn btn-primary" href="/myrequest" role="button">View my request</a>
</form>
{%endfor%}
{% endblock %}
