{% extends "layout.html" %}

{% block title %}
    stories
{% endblock %}


{% block main %}
<p>View stories, filter by specific psychological concerns.</p>

<form action="/stories" method="post">
    <select>
    {% for test in tests %}
        <input type="checkbox" name="concern" value="{{ test }}">{{ test }}
        <br>
    {% endfor %}
    {% for concern in concerns %}
        <input type="checkbox" name="concern" value="{{ concern }}">{{ concern }}
        <br>
    {% endfor %}
    <input type="submit" value="Filter">
    <select>
</form>
        {% for story in stories %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Psychological concerns: {{ story.psychological_concerns }}</h5>
                  <p class="card-text">{{ story.story }}</p>
                </div>
              </div>

        {% endfor %}
{% endblock %}
