{% extends "layout.html" %}

{% block title %}
    stories
{% endblock %}


{% block main %}
<p>View stories, filter by specific psychological concerns. <a class="btn btn-primary" href="/search" role="button">View requests</a></p>

        {% for story in stories %}
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Psychological concerns: {{ story.psychological_concerns }}</h5>
                  <p class="card-text">{{ story.story }}</p>
                </div>
              </div>

        {% endfor %}
{% endblock %}
