{% extends "layout.html" %}

{% block title %}
    stories
{% endblock %}


{% block main %}
<div class="filter">
    <h5>View stories, filter by specific psychological concerns.</h5>
    <form action="/stories" method="post">
    {% for test in tests %}
        <input type="checkbox" name="concern" value="{{ test }}">{{ test }}
        <br>
    {% endfor %}
    {% for concern in concerns %}
        <input type="checkbox" name="concern" value="{{ concern }}">{{ concern }}
        <br>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Filter">
</form>
</div>
<div class="stories">
        {% for story in stories %}
        <div class="card">
            <div class="card-body">
                  <h5>Psychological concerns: {{ story.psychological_concerns }}</h5>
                  <p>{{ story.story }}</p>
        </div>
        </div>
        {% endfor %}
        </div>
{% endblock %}
