{% extends "layout.html" %}

{% block title %}
    Surviving
{% endblock %}

{% block main %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Stories</h5>
      <p class="card-text">If you are a person who have survived or surviving mental health issues post your story here and how you cope or coped .</p>
      <a href="#" class="btn btn-primary stretched-link">Post your story</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Browse survivors' stories</h5>
      <p class="card-text">browse through mental health disoders survivors stories, filter by your symptoms and conditions as determined by tests</p>
      <a href="#" class="btn btn-primary stretched-link">View stories</a>
    </div>
  </div>
  {%endblock%}