{% extends "layout.html" %}

{% block title %}
    tests
{% endblock %}

{% block main %}
<ul class="list-group">
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/alcoholism-test">Substance-Related Addiction Test</a></li>
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/goldberg-depression-questionnaire">Depression test</a></li>
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/goldberg-screening-for-bipolar-spectrum-disorders">bipolar disoder test</a></li>
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/ptsd-test">PTSD Test</a></li>
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/adult-adhd-test">ADHD test</a></li>
    <li class="list-group-item"><a href="https://www.healthyplace.com/psychological-tests/gad-test-generalized-anxiety-disorder">Anxiety test</a></li>
    <li class="list-group-item"><a href="">Personality disoders test</a></li>
    <li class="list-group-item"><a href="/counselling">OCD test</a></li>
    <li class="list-group-item"><a href="/counselling">Sleeping disoders test</a></li>
</ul>

    <footer class="mb-5 small text-center text-muted">
        Tests provided by <a href="https://www.healthyplace.com/psychological-tests">HealthyPlace</a>
    </footer>
{%endblock%}