{% extends "layout.html" %}

{% block title %}
    tests
{% endblock %}

{% block main %}
<ul class="navbar-nav me-auto mt-2">
    <li class="nav-item"><a class="nav-link" href="/tests">Psychological Tests</a></li>
    <li class="nav-item"><a class="nav-link" href="/surviving">Surviving</a></li>
    <li class="nav-item"><a class="nav-link" href="/counselling">Request counselling</a></li>
</ul>

    <footer class="mb-5 small text-center text-muted">
        Tests provided by <a href="https://www.healthyplace.com/psychological-tests">HealthyPlace</a>
    </footer>
{%endblock%}