{% extends "layout.html" %}

{% block title %}
    Volunteer
{% endblock %}

{% block main %}
<h5>Complete and submit the form below to volunteer as a counsellor</h5>
<form action="/volunteer" method="post">
  <div class="form-group">
    <label for="email">Your (name of website)username</label>
    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
</div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" id="email" name="email" placeholder="Enter email" type="email">
    </div>
    <div class="form-group">
      <label for="number">Cellphone number</label>
        <input class="form-control" id="number" name="phonenumber" placeholder="Cellphone number" type="tel">
    </div>
    <div class="form-group">
      <label for="age">What is your age?(must be atleast 21 years old)</label>
        <input class="form-control" id="age" name="age" placeholder="Age" type="number" min="21" max="65">
    </div>
    <div class="form-check">
      <h4>Please specify your gender</h4>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>

      </div>

      <div class="form-check">
        <h4>Declaration</h4>
        <input type="checkbox" class="form-check-input" id="test1">
        <label for="test1">I have background or experience in psychology, counselling and mental health</label>
        <br>
        <input type="checkbox" class="form-check-input" id="test2">
        <label for="test2">I have regular internet access and can be able to keep in contact with clients when needed</label>

      </div>

    <button class="btn btn-primary" type="submit">Volunteer</button>
</form>
{%endblock%}
