/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #000080;
}
nav .navbar-brand .purple
{
    color: #800080;
}
nav .navbar-brand .lightBlue
{
    color: #add8e6;
}
.btn
{
    background-color: #000080;
}
.card
{
    width: 50%;
    margin: auto;
}
.filter
{
    float: left;
    width: 30%;
}
.stories
{
    float: right;
    width: 70%;
}
h5
{
    color: #000080;
}
h1
{
    color: #000080;
}
