/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #000080;
}
nav .navbar-brand .purple
{
    color: #800080;
}
nav .navbar-brand .lightBlue
{
    color: #add8e6;
}
.btn btn-primary stretched-link
{
    color: #000080;
}

