.btn{
    background-color: #FFC0CB; /* pink */
    color: #444;
  }

.header {
    background-color: #ff007f;/* darker pink */
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.container{
  border-style: solid;
  border-color: #FFC0CB;
  margin-bottom: 20px;
}

.circle1 {
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 3px solid #000;
  background-color: #ff007f;/* pink */
  color: #444;
  border-color: #ff007f;
}

.circle2 {
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 3px solid #000;
  background-color: #FFC0CB;/* darker pink */
  color: #444;
  border-color: #FFC0CB;
}

.accordion {
  background-color: #FFC0CB;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-style: solid;
  border-color: #ff007f;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  text-align: left;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

body{
  color: #444;
  text-align: center;
}
