{% extends "network/layout.html" %}

{% block body %}
    <h2>Following page</h2>
    {% for post in page_posts %}
    <div class="list-group-item">
        <p><a href="{% url 'profile' user_id=post.post_by.id %}">{{ post.post_by }}</a></p>
        <p>{{ post.post }}</p>
        <p class="text-muted">{{ post.timestamp }}</p>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
      <script src=></script>
{% endblock %}
