{% extends "network/layout.html" %}

{% block body %}
    <h2 style="margin-top: 20px;">All Posts</h2>
    {% for post in page_posts %}
    <div id="postdiv" class="list-group-item" data-id="{{ post.id }}">
        <p><a href="{% url 'profile' user_id=post.post_by.id %}">{{ post.post_by }}</a></p>
        <p id="post-content">{{ post.post }}</p>
        <p class="text-muted">{{ post.timestamp }}</p>


        {% if user.is_authenticated %}
            {% if user == post.post_by %}
                <button onclick="editing({{ post.id }})" class="btn btn-primary" id="edit-btn">Edit</button>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            {% if post.id in liked %}
                <form method="POST" action="{% url 'unlike' post_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit" onclick="unliking({{ post.id }})" class="btn btn-danger" id="like-btn">&hearts;<span id="like-count">{{ post.likes.all.count }}</span></button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'like' post_id=post.id %}">
                    {% csrf_token %}
                    <button onclick="liking({{ post.id }})" class="btn btn-dark" id="like-btn">&hearts;<span id="like-count">{{ post.likes.all.count }}</span></button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
      <script>



        function liking(id){
                 var likeBtn = document.getElementById('like-btn');
                 const likes = document.getElementById('like-count');
                 let likecount = parseInt(document.querySelector('#like-count').innerText);

                 if (likeBtn.className === "btn btn-dark"){
                    fetch(`/like/${id}`)
                    .then(response => response.json)
                    .then(result => {
                        likeBtn.className = "btn btn-danger";
                        likecount++;
                        likes.innerText = likecount;
                 })
                }
        }

        function unliking(id){
                 var likeBtn = document.getElementById('like-btn');
                 const likes = document.getElementById('like-count');
                 let likecount = parseInt(document.querySelector('#like-count').innerText);

                 if (likeBtn.className === "btn btn-danger"){
                    fetch(`/unlike/${id}`)
                    .then(response => response.json)
                    .then(result => {
                        likeBtn.className = "btn btn-dark";
                        likecount--;
                        likes.innerText = likecount;
                 })
                }

        }


        function editing(id){
        const originalPost = document.querySelector('#post-content').innerText;

            if (editBtn.innerHTML === 'Edit'){
                document.querySelector('#post-content').innerHTML = `<textarea id="edit-content" rows="5" cols="100"></textarea>`;
                document.querySelector('#edit-content').innerText = originalPost;
                editBtn.innerHTML = "Save";
            }
            else if (editBtn.innerHTML === 'Save'){
                const post = document.querySelector('#edit-content').value;
                fetch(`/edit/${id}`, {
                    method: 'POST',
                    body: JSON.stringify({
                        post: post
                    })
                })
                .then(response => response.json())
                .then(result => {
                    document.querySelector('#post-content').innerHTML = result.editted_post;
                    editBtn.innerHTML = "Edit";
                });
            }
        }

      </script>
{% endblock %}
