{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ username }}</h1>
    <div class="container">
        <p>followers:{{ followers }} following: {{ following }}</p>
    </div>
    {% if user.is_authenticated %}
        {% if userProfile != currentUser %}
            {% if isFollower %}
                <form method="POST" action="{% url 'unfollow' user_id=userProfile.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type=submit>UnFollow</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'follow' user_id=userProfile.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type=submit>Follow</button>
                </form>
            {% endif %}

        {% endif %}
    {% endif %}

    {% for post in page_posts %}
    <div class="list-group-item">
        <p><a href="{% url 'profile' user_id=post.post_by.id %}">{{ post.post_by }}</a></p>
        {% if user.is_authenticated %}
            {% if currentUser == post.post_by %}
                <p>Edit</p>
            {% endif %}
        {% endif %}
        <p>{{ post.post }}</p>
        <p>{{ post.timestamp }}</p>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if page_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>
{% endblock %}
