{% extends "auctions/layout.html" %}

{% block body %}

        <h3><strong>Listing: {{ listing.title}}</strong></h3>
        {% if watchlist %}
                <hearder>
                        <h5><span class="badge badge-secondary">Watchlist</span></h5>
                </hearder>
        {% endif %}
                <div class="card mb-3">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text"><strong>${{ listing.price.bid }}</strong></p>
                        </div>
                </div>

        {% if user.is_authenticated %}
                <div>
                <h4>Bids</h4>
                        <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <input name="bid" type="number" placeholder="Bid">
                                <button class="btn btn-primary btn-sm" id ="bid" type="submit">Place Bid</button>
                        </form>
                </div>
                {% if owner and listing.active == "yes" %}
                        <div>
                        <form action="{% url 'close' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-lg btn-block" id = "close" type="submit">Close auction</button>
                        </form>
                        </div>
                {% endif%}
                {% if watchlist %}

                        <form action="{% url 'remove' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-secondary btn-lg btn-block" id = "remove" type="submit">Remove from watchlist</button>
                        </form>
                {% else %}
                        <form action="{% url 'add' listing_id=listing.id %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary btn-lg btn-block" id ="add" type="submit">Add to watchlist</button>
                        </form>
                {% endif %}

                <h2>Comments</h2>
                <form action="{% url 'comment' listing_id=listing.id %}" method="POST">
                        {% csrf_token %}
                        <input name="comment" type="text" placeholder="Type your comment here">
                        <button class="btn btn-primary btn-sm" id ="comment" type="submit">Post comment</button>
                </form>

        {% endif %}
        <p>{{ message }}</p>
        {% for comment in comments %}
                <p>{{ comment.comment_by}} on {{ comment.listing}} at {{ comment.timestamp }}</p>
        {% endfor %}
<footer>
        <p><strong>Details:</strong></p>

        {% if listing.category %}
                <p><small><strong>Listed by:</strong> {{ listing.listed_by }}; <strong>Category:</strong> {{ listing.category }}</small></p>
        {% else %}
                <p><small><strong>Listed by:</strong> {{ listing.listed_by }}; <strong>Category:</strong> No category listed</small></p>
        {% endif %}
</footer>
{% endblock %}
