{% extends "layout.html" %}

{% block title %}
    Surviving
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Stories</h5>
      <p class="card-text">If you would like to share the story of your mental health journey and the psychological issues you have dealt with, click the button below</p>
      <a href="/posts" class="btn btn-primary">Post your story</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Browse survivors' stories</h5>
      <p class="card-text">Browse through stories people have shared about their mental health journey and respective psychological issues.</p>
      <a href="/stories" class="btn btn-primary">View stories</a>
    </div>
  </div>
  {%endblock%}
