{% extends "layout.html" %}

{% block title %}
    requested
{% endblock %}

{% block main %}

{% for user in users %}
<h5>Hi, {{ user.username }} you are currently a volunteer counsellor on MentalHealth Friendly, if you cant continue, you can click below to withdraw.</h5>
<form action="/withdraw" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
    <button class="btn btn-primary" id = "withdraw" type="submit">Withdraw volunteering</button>
    <a class="btn btn-primary" href="/requests" role="button">View requests</a>
</form>
{%endfor%}
{% endblock %}
