{% extends "layout.html" %}

{% block title %}
    CS50 Finance
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {%for stock in stocks%}
        <tr>
            <td>{{stock.symbol}}</td>
            <td>{{stock.name}}</td>
            <td>{{stock.total_shares}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.price * stock.total_shares}}</td>
        </tr>
        {%endfor%}
        <tr>
            <td>CASH</td>
            <td colspan = "3"></td>
        </tr>
    </tbody>

</table>
{% endblock %}