{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

<form action="{% url 'dietician' %}" method="POST">
    {% csrf_token %}
    <p>Name</p>
    <p>Surname</p>
    <p>Email Address</p>
    <input name="email" type="text" placeholder="Email Address">
    <div class="form-check">
        <h4>Preferred counselling setting</h4>
          <input type="radio" id="individual" name="setting" value="individual">
          <label for="individual">Individual counselling</label><br>
          <input type="radio" id="group" name="setting" value="group">
          <label for="group">Group counselling</label><br>
          <input type="radio" id="any" name="setting" value="any">
          <label for="any">Any</label>

        </div>
    <p>Declaration:</p>

    <button class="btn" type="submit">Save</button>
</form>
{% endblock %}
