{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

<form action="{% url 'dietician' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" name="username" placeholder="Name" type="text">
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input class="form-control" id="surname" placeholder="Surname" type="text">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" id="email" placeholder="Enter email" type="text">
    </div>
    <div class="form-check">
        <h4>Select your profession</h4>
          <input type="radio" id="d" name="setting" value="individual">
          <label for="d">Dietician</label><br>
          <input type="radio" id="sd" name="setting" value="group">
          <label for="sd">Student Dietician</label><br>
          <input type="radio" id="n" name="setting" value="any">
          <label for="n">Nutririonist</label><br>
          <input type="radio" id="sn" name="setting" value="any">
          <label for="sn">Student Nutritionist</label>
        </div>

    <button class="btn" type="submit">Submit</button>
</form>
{% endblock %}
