{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div id="diet-request-view">
        <h3>Request a consultation</h3>
        <form id="diet-form">
            <div class="form-check">
                <h4>diet concerns</h4>
                    <input type="checkbox" name="dconcern" value="vegetarian diet">Vegetarian diet
                    <input type="checkbox" name="dconcern" value="vegan">Vegan
                    <input type="checkbox" name="dconcern" value="gluten free">gluten free
              </div>
        </form>
    </div>
{% endblock %}
