{% extends "pregnancy/layout.html" %}


{% block body %}
    <div class="header">
        <h2>general health page content</h2>
    </div>
    <button class="accordion">Nutrition</button>
<div class="panel">
  <p>nutrition(choosemyplate) <a href="https://www.myplate.gov/life-stages/pregnancy-and-breastfeeding">Choose my plate</a></p>
</div>

<button class="accordion">Weight management</button>
<div class="panel">
  <p>Monitor weight gain <a href="{% url 'weight' %}">Track weight.</a></p>
</div>

<button class="accordion">Perinatal Mental Health</button>
<div class="panel">
    {% if crequested %}
    <h3>{{ user.username }} you already have a live request for consultation with a counsellor, click the button below if you wish to cancel the request</h3>
    <div>
        <form action="{% url 'cancel_crequest' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "crequest" type="submit">Cancel my request for consultation with a counsellor</button>
        </form>
    </div>
    {% else %}
    <div>
        <form action="{% url 'counsellor_request' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "crequest" type="submit">Request a consultation with a perinatal counsellor</button>
        </form>
    </div>
        {% endif %}

        </div>

<button class="accordion">Perinatal Dieticians</button>
<div class="panel">
    {% if drequested %}
    <h3>{{ user.username }} you already have a live request for consultation with a dietician, click the button below if you wish to cancel the request</h3>
    <div>
        <form action="{% url 'cancel_drequest' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "drequest" type="submit">Cancel my request for consultation with a perinatal dietician</button>
        </form>
    </div>
    {% else %}
    <div>
        <form action="{% url 'diet_request' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "drequest" type="submit">Request a consultation with a perinatal dietician</button>
        </form>
    </div>
            {% endif %}
</div>

    <h5>request counselling; request consultation with dietician, monitor weight gain, nutrition(choosemyplate)</h5>
    <p>nutrition(choosemyplate) <a href="https://www.myplate.gov/life-stages/pregnancy-and-breastfeeding">Choose my plate</a></p>
    <p>Monitor weight gain <a href="{% url 'weight' %}">Track weight.</a></p>

    {% if drequested %}
    <h3>{{ user.username }} you already have a live request for consultation with a dietician, click the button below if you wish to cancel the request</h3>
    <div>
        <form action="{% url 'cancel_drequest' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "drequest" type="submit">Cancel my request for consultation with a perinatal dietician</button>
        </form>
        <div>
    {% else %}
    <div>
        <form action="{% url 'diet_request' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" id = "drequest" type="submit">Request a consultation with a perinatal dietician</button>
        </form>
        <div>
            {% endif %}

            {% if crequested %}
            <h3>{{ user.username }} you already have a live request for consultation with a counsellor, click the button below if you wish to cancel the request</h3>
            <div>
                <form action="{% url 'cancel_crequest' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary btn-lg btn-block" id = "crequest" type="submit">Cancel my request for consultation with a counsellor</button>
                </form>
                <div>
            {% else %}
            <div>
                <form action="{% url 'counsellor_request' %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-secondary btn-lg btn-block" id = "crequest" type="submit">Request a consultation with a perinatal counsellor</button>
                </form>
                <div>
                    {% endif %}

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
        panel.style.display = "none";
        } else {
        panel.style.display = "block";
        }
    });
}
</script>
{% endblock %}

