{% extends "pregnancy/layout.html" %}

{% block body %}
<div class="container">
<h2>general index content</h2>
</div>

{% if user.is_authenticated %}
    <h3>Hi, {{ user.username }}</h3>
    {% if pregnant %}
    <div class="container">
        <p> at {{ week }} weeks</p>
        <p> {{ togo }} weeks to go</p>
    </div>
    {% endif %}
    <div class="container" style="border-color: #FFC0CB;">
    <p>If you are pregnant and have not specified your week of pregnancy when registering, or rectify the current week, please specify your current week of pregnancy below, so that you can start tracking your journey.</p>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input name="week" type="number" placeholder="Week of pregnancy" min="1">
        <button class="btn" id ="week" type="submit">Save</button>
    </form>
</div>
{% endif %}
    {% endblock %}
