{% extends "pregnancy/layout.html" %}

{% block body %}
<div class="header">
<h2>Welcome to ForMaternity!</h2>
<h3>A platform for pregnant women to track their pregnancy journey and receive guidence and information they need for their pregnancy and overall perinatal health. Register or Login to access services.</h3>
</div>

{% if user.is_authenticated %}
    <h3 style="text-align: center; color:#444; margin-bottom: 20px;">Hi, {{ user.username }}</h3>
    {% if pregnant %}
    <h3 style="text-align: center; color:#444; margin-bottom: 20px;">Your Week of pregnancy update:</h3>
    <div class="container">
        <div class="row d-flex justify-content-center">
        <h4 class="col-4" style="color: #444;">Current week:  <div style="display: inline-block;" class="circle1">{{ week }}</div><h4>
        <h4 class="col-4" style="color: #444;">Weeks to go:  <div style="display: inline-block;" class="circle2"> {{ togo }}</div></h4>
        </div>
    </div>
    {% endif %}
    <div class="container">
    <p>If you are pregnant and have not specified your week of pregnancy when registering, or want to rectify the current recorded week, please provide your current week of pregnancy below, so that you can start tracking your journey.</p>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <input name="week" type="number" placeholder="Week of pregnancy" min="1">
        <button class="btn" id ="week" type="submit">Save</button>
    </form>
</div>
{% else %}
<a class="btn" role="btn" href="{% url 'login' %}">Log In</a>
<a class="btn" role="btn" href="{% url 'register' %}">Register</a>
{% endif %}
    {% endblock %}
