{% extends "pregnancy/layout.html" %}

{% block body %}
<div class="container" style="margin-bottom: 30px;">
    <h4 style="margin-bottom: 30px;">For Perinatal Dieticians</h4>
    <div class="list-group" style="margin-bottom: 30px;">
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
        <button class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 30px;" type="submit">Register as Dietician</button>
        </div>

        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-secondary btn-lg btn-block" style="margin-bottom: 30px;" type="submit">View requests for consultation</button>
            </div>

</div>
</div>
</div>

<p>Register as prenatal counsellor <a href="{% url 'counsellor' %}">Register here.</a></p>
<p>counsellors view requests for counselling<a href="{% url 'crequests' %}">View counselling request</a></p>

<p>Register as dietician <a href="{% url 'dietician' %}">Register here.</a></p>
<p>dieticians view requests for consultations<a href="{% url 'drequests' %}">view diet requests</a></p>
{% endblock %}
