{% extends "pregnancy/layout.html" %}

{% block body %}
    <div class="header">
        <h3>Tests are used during pregnancy to check your and your baby's health.Keep track of tests you have done, not all tests are compulsory for all women, some depends on the individual, each test you get will vary according to your risk for certain conditions. Find information on common prenatal tests on this page.</h3>
 </div>

    <h3 id="tests-done" style="margin-bottom: 30px; color: #FFC0CB;"></h3>
    <div class="container" style="margin-bottom: 30px;">
        <h4 style="margin-bottom: 30px;">First Trimester Tests and Screenings</h4>
        <div class="list-group" style="margin-bottom: 30px;">
    {% for test in tests1 %}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ test.test_name }}</h5>
          <button onclick="testdone()" class="btn">Done</button>
        </div>
        <p class="mb-1" style="text-align: left;">{{ test.description }}</p>

    </div>
    {% endfor %}
    </div>
    </div>

    <div class="container" style="margin-bottom: 30px;">
        <h4 style="margin-bottom: 30px;">Second Trimester Tests and Screenings</h4>
        <div class="list-group" style="margin-bottom: 30px;">
    {% for test in tests2 %}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ test.test_name }}</h5>
          <button onclick="testdone()" class="btn">Done</button>
        </div>
        <p class="mb-1" style="text-align: left;">{{ test.description }}</p>

    </div>
    {% endfor %}
    </div>
    </div>
        <div class="container">
            <h4 style="margin-bottom: 30px;">Third Trimester Tests and Screenings</h4>
        <div class="list-group" style="margin-bottom: 30px;">
    {% for test in tests3 %}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ test.test_name }}</h5>
          <button onclick="testdone()" class="btn">Done</button>
        </div>
        <p class="mb-1" style="text-align: left;">{{ test.description }}</p>

    </div>
    {% endfor %}
</div>
        </div>

        <script>

            if (!localStorage.getItem('testsdone')) {
                    localStorage.setItem('testsdone', 0);
                    }
            function testdone(){

                const btn = event.target;
                let testsdone = localStorage.getItem('testsdone');

                if (btn.innerHTML === "Done"){
                    testsdone++;
                    localStorage.setItem('testsdone', testsdone);
                    document.querySelector('#tests-done').innerHTML = `${localStorage.getItem('testsdone')} of 14 tests done`;
                    btn.innerHTML = "&#x2713";

                }
                else{
                    testsdone--;
                    localStorage.setItem('testsdone', testsdone);
                    document.querySelector('#tests-done').innerHTML = `${localStorage.getItem('testsdone')} of 14 tests done`;
                    btn.innerHTML = "Done";
                }
            }
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#tests-done').innerHTML = `${localStorage.getItem('testsdone')} of 14 tests done`;
            localStorage.clear();
    });
        </script>
{% endblock %}
