{% extends "pregnancy/layout.html" %}

{% block body %}
    <h3>Keep track of tests you have done, not all are compulsory some depends on the individual,Each test you get will vary according to your risk for certain conditions; List of common prenatal tests,</h3>
    <h3 id="tests-done"></h3>
    <div>
        <h4>First Trimester Tests and Screenings</h4>
    {% for test in tests1 %}
    <p>{{ test.test_name }}</p>
        <button onclick="testdone()" class="btn btn-sm btn-outline-primary">Done</button>
    {% endfor %}
    </div>
    <div>
        <h4>Second Trimester Tests and Screenings</h4>
        {% for test in tests2 %}
        <p>{{ test.test_name }}</p>
            <button onclick="testdone()" class = "btn btn-sm btn-outline-primary">Done</button>
        {% endfor %}
    </div>
        <div>
            <h4>Third Trimester Tests and Screenings</h4>
            {% for test in tests3 %}
            <p>{{ test.test_name }}</p>
            <button onclick="testdone()" class = "btn btn-sm btn-outline-primary">Done</button>
            {% endfor %}
        </div>
        <script>


            function testdone(){

                const btn = event.target;
                let testsdone = localStorage.getItem('testsdone');

                if (btn.innerHTML === "Done"){
                    testsdone++;
                    btn.innerHTML = "notDone";
                    localStorage.setItem('testsdone', testsdone);
                }
                else if (btn.innerHTML === "notDone"){
                    testsdone--;
                    btn.innerHTML = "Done";
                    localStorage.setItem('testsdone', testsdone);
                }
                localStorage.setItem('testsdone', testsdone);
            }
        document.addEventListener('DOMContentLoaded', function() {
            if (!localStorage.getItem('testsdone')) {
                    localStorage.setItem('testsdone', 0);
                    }
            document.querySelector('#tests-done').innerHTML = localStorage.getItem('testsdone');

    });
        </script>
{% endblock %}
