{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if track_weight %}
    <div class="container">
        <div class="row d-flex justify-content-center">
        <h4 class="col-4" style="color: #444;">Weight gain percentage:  <div style="display: inline-block;" class="circle1">{{ percentage_gain|floatformat }}%</div><h4>
        <h4 class="col-4" style="color: #444;">How far along you are :  <div style="display: inline-block;" class="circle2"> {{ duration_percent|floatformat }}%</div></h4>
        </div>
        <h3 id="difference">{{ difference }}</h3>
        <h3 id="green-flag" style="color:Green;"><span>&#9873;</span> Safe</h3>
        <h3 id="orange-flag" style="color:orange;"><span>&#9873;</span> Caution</h3>
        <h3 id="red-flag" style="color:red;"><span>&#9873;</span> Unsafe</h3>
        <h3 id="track">absolute value difference between duration and weight gain percentage: 10% is green-safe, 11 to 15% is orange-caution, greater than 15% is red-unsafe</h3>
        <h5>Latest recorded weight gain, <span class="text-muted">{{ date }}</span></h5>
    </div>

    {% endif %}
    <div class="container">
        <p>According to guidelines, pregnant women must gain an average of 3 pounds(1.36 kg) per month, <strong>approximate weight gain and pregnancy duration percentage values are a good indication that you are gaining your weight in ana acceptable gradual manner,</strong>click the button below to access a weight gain calculator that will help you to determine your total target weight gain and fill the form below(You only need to provide your pre-pregnancy and total target weight once unless you realise the values that were last save are incorrect and you need to rectify them), updating your current weight regularly on this page to track your weight gain journey.</p>
        <p><a class="btn btn-secondary btn-lg btn-block" href="https://www.whattoexpect.com/pregnancy-weight-gain-calculator" role="button">Pregnancy Weight Gain Calculator</a></p>
    <div>

    <h3>Enter your weight information below to assess your weight gain journey</h3>
    <div class="container">
    <form action="{% url 'weight' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Your current weight (in kg)</p>
            <input name="cweight" class="form-control" type="number">
            <button class="btn" type="submit">Save</button>
        </div>
    </div>
        <p><strong>If you haven't provided your pre-pregnancy weight and/or total weight gain target, or wish to rectify their values, do so below: </strong></p>
    <div class="container">


        <div class="form-group" style="margin-bottom: 30px;">
            <p>Your target total pregnancy weight gain from the weight gain calculator (in kg)</p>
            <input class="form-control" type="number" name="tweight" placeholder="{{ tWeight }}">
        </div>
        <div class="form-group">
            <p>Your pre-pregnancy weight (in kg)</p>
            <input name="pre-weight" class="form-control" type="number" placeholder="{{ preWeight }}">
        </div>
        </div>
        <button class="btn" type="submit">Save</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const diff = document.querySelector('#difference').innerHTML;
            document.querySelector('#difference').style.display = 'none';

            if (diff <= 10){
                document.querySelector('#red-flag').style.display = 'none';
                document.querySelector('#orange-flag').style.display = 'none';
                document.querySelector('#green-flag').style.display = 'block';
                document.querySelector("#track").style.color = "Green";
                document.querySelector("#track").innerText = "Great! You're within your recommended pregnancy weight gain range.";
            }
            else if (diff > 10 && diff <= 15){
                document.querySelector('#red-flag').style.display = 'none';
                document.querySelector('#orange-flag').style.display = 'block';
                document.querySelector('#green-flag').style.display = 'none';
                document.querySelector("#track").style.color = "Orange";
                document.querySelector("#track").innerText = "You're tracking at a close proximity to your recommended weight gain range.";
            }
            else if (diff > 15){
                document.querySelector('#red-flag').style.display = 'block';
                document.querySelector('#orange-flag').style.display = 'none';
                document.querySelector('#green-flag').style.display = 'none';
                document.querySelector("#track").style.color = "Red";
                document.querySelector("#track").innerText = "You're tracking below or above your recommended weight gain range.";
            }
        });
    </script>
{% endblock %}
