{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if track_weight %}
        <h1>{{ percentage_gain }}%</h1>
    {% endif %}
    <p>pregnancy weight gain calculator <a href="https://www.whattoexpect.com/pregnancy-weight-gain-calculator">weight gain calculator</a></p>
    <p>According to guidelines, must gain an average of 3 pounds(1.36 kg) per month</p>
    <p>Track weight gain</p>
    <form action="{% url 'weight' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Your current weight (in kg)</p>
            <input name="cweight" class="form-control" type="number">
        </div>
        <p>If you haven't provided your pre-pregnancy weight and/or total weight gain target, or wish to rectify their values, do so below: </p>
        <div class="form-group">
            <p>Your pre-pregnancy weight (in kg)</p>
            <input name="pre-weight" class="form-control" type="number" placeholder="{{ preWeight }}">
        </div>

        <div class="form-group">
            <p>Your target total pregnancy weight gain from the weight gain calculator (in kg)</p>
            <input class="form-control" type="number" name="tweight" placeholder="{{ tWeight }}">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
