{% extends "pregnancy/layout.html" %}

{% block body %}
    {% if track_weight %}
        <h1>{{ percentage_gain|floatformat }}% Latest recorded weight gain, {{ date }}</h1>
        <h1>{{ duration_percent|floatformat }}%</h1>
        <h3 id="difference">{{ difference }}</h3>
        <h3>approximate weight gain and pregnancy duration values are a good indication that you are tracking within recommended guidelines</h3>
        <h3>absolute value difference between duration and weight gain percentage: 10% is green, 11 to 15% is orange, greater than 15% is red</h3>
    {% endif %}
    <p>pregnancy weight gain calculator <a href="https://www.whattoexpect.com/pregnancy-weight-gain-calculator">weight gain calculator</a></p>
    <p>According to guidelines, must gain an average of 3 pounds(1.36 kg) per month</p>
    <p>Track weight gain</p>
    <form action="{% url 'weight' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>Your current weight (in kg)</p>
            <input name="cweight" class="form-control" type="number">
        </div>
        <p>If you haven't provided your pre-pregnancy weight and/or total weight gain target, or wish to rectify their values, do so below: </p>
        <div class="form-group">
            <p>Your pre-pregnancy weight (in kg)</p>
            <input name="pre-weight" class="form-control" type="number" placeholder="{{ preWeight }}">
        </div>

        <div class="form-group">
            <p>Your target total pregnancy weight gain from the weight gain calculator (in kg)</p>
            <input class="form-control" type="number" name="tweight" placeholder="{{ tWeight }}">
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const diff = document.querySelector('#difference').innerHTML;
            alert(`Hello, ${diff}`);
            document.querySelector('#difference').style.display = 'none';
            if (diff <= 10){
                document.querySelector("#hello").style.color
            }
        });
    </script>
{% endblock %}
